<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="poshsecframework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <poshsecframework.Properties.Settings>
            <setting name="ScriptPath" serializeAs="String">
                <value>.\Scripts\</value>
            </setting>
            <setting name="FrameworkPath" serializeAs="String">
                <value>.\Modules\PoshSecFramework\PoshSecFramework.psm1</value>
            </setting>
            <setting name="ModulePath" serializeAs="String">
                <value>.\Modules\</value>
            </setting>
            <setting name="ScriptDefaultAction" serializeAs="String">
                <value>0</value>
            </setting>
        </poshsecframework.Properties.Settings>
    </userSettings>
</configuration>