<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="poshsecframework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <poshsecframework.Properties.Settings>
            <setting name="ScriptPath" serializeAs="String">
                <value>.\Scripts\</value>
            </setting>
            <setting name="GithubAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ModulePath" serializeAs="String">
                <value>.\Modules\</value>
            </setting>
            <setting name="ScriptDefaultAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PSExecPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScheduleFile" serializeAs="String">
                <value>.\Scripts\schedule.xml</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Modules" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>PoshSec|PoshSec/PoshSec|PoshSec|</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NameChecking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveSystems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastModuleCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="LogOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputLogFile" serializeAs="String">
                <value>.\Logs\psfoutput.log</value>
            </setting>
            <setting name="LogAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertLogFile" serializeAs="String">
                <value>.\Logs\psfalerts.log</value>
            </setting>
            <setting name="UseSyslog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyslogServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SyslogPort" serializeAs="String">
                <value>514</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
        </poshsecframework.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
